*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}

nav a {
    display: inline-block;
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.5;
    font-weight: lighter;
}

.button{
    flex-wrap: wrap;
    width: 280px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border: none;
    color: rgb(255, 255, 255);
    padding: 150px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 30px;
    margin: 5px 50px;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    margin-top: -50px;
}

nav .onglets {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav .onglets a{
    margin-top: 10px;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    border-bottom: 2px solid rgb(128, 128, 128);
    padding-bottom: 10px;
    box-sizing: border-box;
}

.button1 {
    background: center / cover url(./images/ze.jpg) rgba(0, 0, 0, 0.4);
}

.button2 {
    background: center / cover url(./images/Dollarphotoclub_74991910.jpg) rgba(0, 0, 0, 0.4);
}

.button3 {
    background: center / cover url(./images/azaz.jpg) rgba(0, 0, 0, 0.4);
}

.button4 {
    background: center / cover url(./images/azazza.jpg) rgba(0, 0, 0, 0.4);
}

.button5 {
    background: center / cover url(./images/04bb_1406f.jpg) rgba(0, 0, 0, 0.4);
}
.button6 {
    background: center / cover url(./images/101538_3603_57d3f445-5056-a36a-0bfcf8c9c020f2a9.jpg) rgba(0, 0, 0, 0.4);
}
.buttoncar {
    width: 400px;
    background: center / cover url(./images/car.jpg) rgba(0, 0, 0, 0.4);
}
.button7 {
    background: center / cover url(./images/OIiP.jpg) rgba(0, 0, 0, 0.4);
}
.button8 {
    background: center / cover url(./images/bike.jpg) rgba(0, 0, 0, 0.4);
}
.button9 {
    background: center / cover url(./images/s15.jpg)rgba(0, 0, 0, 0.4);
}
.button10 {
    background: center / cover url(./images/rx7.jpg) rgba(0, 0, 0, 0.4);
}
.button11 {
    background: center / cover url(./images/s1000r.jpg) rgba(0, 0, 0, 0.4);
}
.button12 {
    background: center / cover url(./images/H2R.jpg) rgba(0, 0, 0, 0.4);
}

.buttonpolice {
    width: 400px;
    background: center / cover url(./images/zazaza.jpg) rgba(0, 0, 0, 0.4);
}

.buttonpolice2 {
    width: 400px;
    background: center / cover url(./images/police2.webp) rgba(0, 0, 0, 0.4);
}
.buttonruevide {
    width: 400px;
    background: center / cover url(./images/ruevide.jpg) rgba(0, 0, 0, 0.4);
}
.buttonruevide2 {
    width: 400px;
    background: center / cover url(./images/ruevide2.jpg) rgba(0, 0, 0, 0.4);
}
.buttoncolor {
    width: 400px;
    background: center / cover url(./images/garage.jpg) rgba(0, 0, 0, 0.4);
}
.buttondead {
    width: 400px;
    background: center / cover url(./images/dead.jpg) rgba(0, 0, 0, 0.4);
}
.buttoncolor2 {
    width: 400px;
    background: center / cover url(./images/garage.jpg) rgba(0, 0, 0, 0.4);
}
.buttonaccident {
    width: 400px;
    background: center / cover url(./images/accident.webp) rgba(0, 0, 0, 0.4);
}



.a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(86, 86, 86);
}

body{
    background-color: rgb(198, 198, 198);
    background-size: cover;
}


.ctn-btn{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(./images/R33.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    margin-left: 50px;
    width: 180px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li:hover::after{
    width: 100%;
    transition: 0.7s;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(144, 84, 31);
}

.content h1{
    width: 100%;
    font-size: 60px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
}

.info{
    opacity: 0;
    transition: all 1s ease;
}

.button:hover .info{
    opacity: 1;
}
.button:hover{
    background-blend-mode: darken;
}